html {
  margin: 0px;
  font-size: 16px;
}

body {
  width: 100vw;
  font-family: "Ysabeau Office", sans-serif;
  margin: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

h2 {
  font-family: "Castoro Titling", cursive;
}

header {
  width: 100%;
}

#header-background {
  width: 100%;
  background-image: url(../images/main-background-copy.jpg);
  background-position: center;
  background-size: cover;
}

#header-container {
  position: relative;
  display: flex;
  height: 45rem;
  width: 100%;
  background-image: linear-gradient(
    215deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
  justify-content: space-evenly;
  align-items: center;
}

#header-container .name {
  z-index: 1;
  padding: 50px;
  border-radius: 10px;
  background-color: black;
  border: whitesmoke 5px solid;
  margin: 0 150px 150px 0;
}

.name h1 {
  font-family: "Gloock", serif;
  letter-spacing: 2px;
  font-size: 75px;
  margin: 0;
  background-repeat: repeat;
  background-size: 100%;
  background-image: radial-gradient(rgb(255, 72, 0), rgba(255, 200, 0, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header-container nav {
  z-index: 1;
  line-height: 1.25;
  color: aqua;
  background-color: black;
  border: whitesmoke 5px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 150px 0 0 150px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 80%;
  transition-duration: 0.5s;
}

#header-container nav ul {
  margin: 0;
  padding-left: 30px;
}

#header-container nav a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(0, 216, 216);
}

#aboutme-skills {
  margin: 40px;
  border: #1d6161 5px double;
  border-radius: 10px;
}

.aboutme {
  display: flex;
  align-items: center;
  margin: 50px 150px;
  background: linear-gradient(
    45deg,
    rgb(121, 119, 113) 60%,
    rgb(41, 169, 192) 90%
  );
  padding: 100px;
  border-radius: 10px;
  color: #e6e6e6;
}

.aboutme h2 {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 60px;
  font-size: 3rem;
  text-align: right;
  border-bottom: #1d6161 3px ridge;
  box-sizing: border-box;
}

.aboutme p {
  padding-left: 50px;
  font-size: 1.5rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container #skills-text {
  margin: 50px 150px;
  width: 40%;
  background-color: #1d6161;
  border: #1d6161 8px double;
  padding: 40px;
  border-radius: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-container h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 35px 0;
}

.skills-container p {
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  padding: 20px;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -webkit-text-fill-color: initial;
  background-color: #1d6161;
  color: whitesmoke;
  font-size: 1.45rem;
  text-align: center;
}

#skills #skills-icons {
  height: 110px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skills #skills-icons img {
  width: 6rem;
  height: 6rem;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.4);
  border-radius: 25%;
  transition: 200ms;
}

.pos1 {
  animation: anim1 2s ease 300ms forwards;
}

.neg1 {
  animation: animn1 2s ease 300ms forwards;
}

.pos2 {
  animation: anim2 1.5s ease 500ms forwards;
}

.neg2 {
  animation: animn2 1.5s ease 500ms forwards;
}

.pos3 {
  animation: anim3 1s ease 700ms forwards;
}

.neg3 {
  animation: animn3 1s ease 700ms forwards;
}

@keyframes anim1 {
  0% {
  }
  100% {
    transform: translate(30vw);
  }
}

@keyframes animn1 {
  0% {
  }
  100% {
    transform: translate(-30vw);
  }
}

@keyframes anim2 {
  0% {
  }
  100% {
    transform: translate(20vw);
  }
}

@keyframes animn2 {
  0% {
  }
  100% {
    transform: translate(-20vw);
  }
}

@keyframes anim3 {
  0% {
  }
  100% {
    transform: translate(10vw);
  }
}

@keyframes animn3 {
  0% {
  }
  100% {
    transform: translate(-10vw);
  }
}

#skills #skills-icons img:hover {
  width: 6.25rem;
  height: 6.25rem;
}

#projects h2 {
  font-size: 3rem;
  text-align: center;
  color: #1d6161;
}

.projects-container {
  margin: 50px;
  margin-bottom: 20px;
}

.project1 {
  display: flex;
}

.project-img {
  height: 20rem;
  width: auto;
}

.project-body {
  margin: 0 150px;
  align-self: center;
}

.project-body h3 {
  font-size: 2rem;
  text-align: left;
}

.project-body p {
  font-size: 1.5rem;
}

#contact {
  margin: 0 15%;
  margin-bottom: 30px;
}

#contact h2 {
  font-size: 2.8rem;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  color: #1d6161;
}

#contact .contactid {
  margin: 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: #1d6161 10px dotted;
}

.contactid i {
  font-size: 1.5rem;
}

#contact-icons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#contact-icons img:hover {
  border-radius: 25%;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.4);
}

#contact-icons img {
  width: 6.8rem;
  height: 6.8 rem;
}
