html {
  margin: 0px;
  font-size: 16px;
}

body {
  margin: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

header {
  width: 100%;
}

#header-background {
  width: 100%;
  background-image: url(../images/main-background-copy.JPG);
  background-position: center;
  background-size: cover;
}

#header-container {
  position: relative;
  display: flex;
  height: 45rem;
  width: 100%;
  background-image: linear-gradient(
    215deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
  justify-content: space-evenly;
  align-items: center;
}

#header-container .name {
  z-index: 1;
  padding: 50px;
  border-radius: 10px;
  background-color: black;
  border: whitesmoke 5px solid;
  margin: 0 150px 150px 0;
}

.name h1 {
  font-size: 60px;
  margin: 0;
  background-repeat: repeat;
  background-size: 100%;
  background-image: radial-gradient(rgb(255, 72, 0), rgba(255, 200, 0, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#header-container nav {
  z-index: 1;
  line-height: 1.25;
  color: aqua;
  background-color: black;
  position: static;
  border: whitesmoke 5px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 150px 0 0 150px;
}

#header-container nav ul {
  margin: 0;
  padding-left: 30px;
}

#header-container nav a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(0, 216, 216);
}

#aboutme-skills {
  margin: 40px;
  border: #1d6161 5px double;
  border-radius: 10px;
}

.aboutme {
  display: flex;
  align-items: center;
  margin: 50px 150px;
  background: linear-gradient(
    45deg,
    rgb(121, 119, 113) 60%,
    rgb(41, 169, 192) 90%
  );
  padding: 100px;
  border-radius: 10px;
  color: #e6e6e6;
}

.aboutme h2 {
  margin-bottom: 60px;
  font-size: 3rem;
  text-align: right;
  border-bottom: #1d6161 3px ridge;
  box-sizing: border-box;
}

.aboutme p {
  padding-left: 50px;
  font-size: 1.5rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container #skills-text {
  margin: 50px 150px;
  width: 40%;
  background-color: #1d6161;
  border: #1d6161 8px double;
  padding: 40px;
  border-radius: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-container h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 35px 0;
}

.skills-container p {
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  padding: 20px;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -webkit-text-fill-color: initial;
  background-color: #1d6161;
  color: whitesmoke;
  font-size: 1.45rem;
  text-align: center;
}

#skills #skills-icons {
  height: 110px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#skills #skills-icons img {
  width: 6rem;
  height: 6rem;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.4);
  border-radius: 25%;
  transition: 200ms;
}

#skills #skills-icons img:hover {
  width: 6.25rem;
  height: 6.25rem;
}

#projects h2 {
  font-size: 3rem;
}

#contact h2 {
  font-size: 3rem;
}
